0 4 * * * /usr/bin/apt-get update && /usr/bin/yes | /usr/bin/apt-get full-upgrade && /sbin/reboot
0 3 * * * /usr/bin/certbot renew
0 2 * * * /usr/bin/wget -O https://one-time.nl/clean_up.php 2>&1 > /dev/null
